name: Publish Docker Image

on:
  release:
    types: [published]
  workflow_dispatch:

# Required for cosign keyless (OIDC) to mint tokens
permissions:
  contents: read
  packages: write
  id-token: write # needed for signing the images with GitHub OIDC Token

jobs:
  push_to_registry:
    name: Push Docker image to GitHub Container registry
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - name: Check out the repo
        uses: actions/checkout@v5.0.0

      - name: Install cosign
        uses: sigstore/cosign-installer@v4.0.0

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5.8.0
        with:
          images: ghcr.io/openmodelica/crossbuild
          tags: type=sha,format=long

      - name: Build and push Docker image
        id: build-and-push
        uses: docker/build-push-action@v6.18.0
        with:
          context: .
          file: ./Dockerfile
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          annotations: ${{ steps.meta.outputs.annotations }}
          push: true

      - name: Sign Docker image with Cosign
        run: |
          cosign sign --yes ghcr.io/openmodelica/crossbuild:latest
          cosign sign --yes ghcr.io/openmodelica/crossbuild:${{ github.sha }}

      - name: Verify image signature
        run: |
          cosign verify ghcr.io/openmodelica/crossbuild:latest
